@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  body > div:first-child,
  div#__next,
  div#__next > div {
    @apply h-full;
  }

  @font-face {
    font-family: "PlusJakartaSans";
    src: url("/PlusJakartaSans-VariableFont_wght.ttf");
  }

  body {
    @apply bg-slate-300;
  }

  html {
    @apply font-plusjakarta;
  }
}

@keyframes gradient {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 90% 90%;
  }
  100% {
    background-size: 100% 100%;
  }
}
